:root {
    --font-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --light: 300;
    --normal: 500;
    --bold: 700;
}

:root {
    --color-primary: #f7931a;
    --color-primary-soft: #ffe9d5;
    --color-secondary: #1a9af7;
    --color-secondary-soft: #e7f5ff;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light-darker: #bababa;
    --color-shadow-light: #f5f5f5d1;
    --color-background: #faf8f7;

    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-sans);
    font-size: 62.5%;
}

/* 
    1. Posicionamiento
    2. Modelo caja (Box model)
    3. Tipografía
    4. Visuales
    5. Otros 
*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 334px;
    width: 100%;
    min-width: 320px;
    background: linear-gradient(207.8deg, var(--color-dark-warm) 16.69%, var(--color-primary) 100%);
}

.header__image {
    width: 150px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: var(--bold);
    line-height: 2.6rem;
    color: var(--color-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: var(--normal);
    color: var(--color-primary-soft)
}

.header__button {
    position:absolute;
    top: 270px;
    left: calc(50% - 115px);
    margin-top: 35px;
    display: block;
    width: 229px;
    height: 4.8rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: var(--bold);
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16)
}

.header__button span {
    background-image: url('../assets/icons/down-arrow.svg');
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
}

main {
    height: auto;
    width: 100%;
    min-width: 320px;
    background-color: rgba(242, 229, 229, 0.306);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container__image {
    height: 200px;
    width: 200px;
    margin: 0 auto 50px auto;
    background:url('/assets/imgs/Bitcoin.svg') no-repeat center;
    background-size: cover;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: var(--bold);
    line-height: 2.6rem;
    color: var(--color-black);
}

.main-exchange-container__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: var(--normal);
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table, .main-commission-table {
    width: 85%;
    min-width: 320px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-table__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: var(--bold);
    line-height: 2.3rem;
}

.main-currency-table__title-currency {
    color: var(--color-primary);
}

.main-currency-table__title-commission {
    color: var(--color-secondary);
}

.main-currency-table__container, .main-commission-table__container {
    width: 100%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}

.main-exchange-container__table {
    width: auto;
    min-width: 320px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
}

.tables-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.tables-container::-webkit-scrollbar {
    display: none;
}

.main-currency-table__container table,
.main-commission-table__container table {
    width: 100%;
    height: 100%;
}

.main-currency-table__container td,
.main-commission-table__container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: var(--normal);
    line-height: 1.9rem;
    color: var(--color-light-darker);
    background-color: var(--color-white);
}

.main-currency-table__container .table__right,
.main-commission-table__container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.main-currency-table__container .table__top-left,
.main-commission-table__container .table__top-left {
    border-radius: 15px 0 0 0;
}

.main-currency-table__container .table__top-right,
.main-commission-table__container .table__top-right {
    border-radius: 0 15px 0 0;
}

.main-currency-table__container .table__bottom-left,
.main-commission-table__container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.main-currency-table__container .table__bottom-right,
.main-commission-table__container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.main-currency-table__container .trending-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.up {
    background-image: url('/assets/icons/trending-up.svg');
}

.down {
    background-image: url('/assets/icons/trending-down.svg');
}

.main-exchange-table__date {
    margin: 15px auto;
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
}

.main-currency-table__date {
    background-color: var(--color-primary-soft);
}

.main-commission-table__date {
    background-color: var(--color-secondary-soft);
}

.main-exchange-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.table-go-right {
    position: absolute;
    right: -20px;
    top: calc(50% - 20px);
    padding: 15px;
}

.table-go-left {
    position: absolute;
    left: -15px;
    top: calc(50% - 20px);
    padding: 15px;
}

@media (min-width: 330px ) {
    .table-go-left, .table-go-right {
        display: none;
    }

    .tables-container {
        flex-direction: column;
        overflow-x: visible;
    }

    .tables-container::-webkit-scrollbar {
        display: none;
    }

    .main-commission-container__table {
        margin-top: 40px;
    }
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px;
    background-color: var(--color-dark-warm);
    color: var(--color-white);
}

.main-product-detail__icon {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background: url("/assets/icons/batata.svg") no-repeat center;
    background-size: cover;
}

.main-product-detail__text-container {
    margin: 20px auto;
    text-align: center;
}
    
.main-product-detail__title {        
    font-weight: var(--bold);
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
}

.main-product-detail__content {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.product-cards__container {
    display: flex;
    flex-direction: column;
}

.product-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    background-color: rgba(40, 38, 35, 1);
    margin: 10px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-card__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.clock-icon {
    background: url("/assets/icons/clock.svg") no-repeat center;
}

.eye-icon {
    background: url("/assets/icons/eye.svg") no-repeat center;
}

.currency-icon {
    background: url("/assets/icons/dollar-sign.svg") no-repeat center;
}

.check-circle-icon {
    background: url("/assets/icons/check-circle.svg") no-repeat center;
}

.product-card__title {
    color: var(--color-white);
    font-weight: var(--bold);
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 10px;
}

.product-card__content {
    color: #808080;
    font-weight: var(--normal);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.bitcoin-img-contiainer {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background: url("/assets/imgs/bitcoinbaby2x.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.bitcoin-img-contiainer__title {
    color: var(--color-white);
    font-weight: var(--bold);
    line-height: 2.6rem;
    font-size: 2.4rem;
    padding-top: 60px;
}

.plans-container {
    width: 100%;
    min-width: 320px;
    padding: 10px;
}

.plans-container__text {
    width: 90%;
    min-width: 288px;
    margin: 30px auto;
    text-align: center;
}

.plans-container__text h2 {
    color: var(--color-black);
    font-weight: var(--bold);
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 20px;
}
    
.plans-container__text p {
    color: rgba(117, 117, 117, 1);
    font-weight: var(--normal);
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 15px;
}

.plans-container__cards {
    /* width: 100%; */
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container__card {
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    position: relative;
    scroll-snap-align: center;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    margin: 50px 20px 10px;
    padding: 10px 15px;
}

.card__disclaimer {
    position: absolute;
    width: 100px;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-primary);
    top: -15px;
    right: calc(50% - 50px);
    margin: 0 auto;
    padding: 10px 5px;
    font-size: 1.2rem;
    font-weight: var(--bold);
    line-height: 1.45rem;
}

.card__content {
    padding-top: 30px;
    text-align: center;
}

.card__content h3 {
    font-size: 1.4rem;
    font-weight: var(--normal);
    line-height: 1.8rem;
}

.card__content p:nth-child(2) {
    margin-top: 10px;
    font-size: 5.2rem;
    font-weight: var(--bold);
    line-height: 6.3rem;
}

.card__content p:nth-child(2) sup {
    font-size: 1.2rem;
    font-weight: var(--normal);
    line-height: 1.4rem;
    vertical-align: top;
}

.card__content p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: var(--normal);
    line-height: 1.4rem;
    color: rgba(117, 117, 117, 1);
    margin: 15px auto;
    width: 150px;
}

.card__content button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: var(--bold);
    line-height: 1.8rem;
    background-color: rgba(250, 248, 247, 1);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    margin: 0 auto 25px auto;
}

.card__content button span {
    width: 24px;
    height: 24px;
    background: url("/assets/icons/right-arrow.svg") no-repeat center;
    background-size: cover;
    margin-left: 5px;
}

footer {
    width: 100%;
    height:  130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-primary);
}

.footer__list {
    margin: 0 10px;
}

.footer__list ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--normal);
}

.footer__list li {
    margin: 10px 0;
}
.footer__list a {
    color: var(--color-white);
    text-decoration: none;
}