:root {
    --base-color: #cb1517
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}
