.tables-container {
    display: flex;
    width: 840px;
    margin: 0 auto;
}
.product-cards__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container__cards {
    justify-content: center;
}